{% extends "base.html" %}

{% block title %}
Sign-in for Otlichnik
{% endblock %}

{% block content %}
<div class="w3-container w3-third"></div>
<div class="w3-card-4 w3-third">
<h3 class="w3-container w3-blue">Sign-in</h3>
<form class="w3-container" method="post">
    <label>E-Mail</label>
    <input class="w3-input" type="email" name="email">
    <p />
    <label>Password</label>
    <input class="w3-input" type="password" name="password">
    <p />
    <button class="w3-button w3-green" type="submit">Sign-in</button>
</form>
</div>
{% endblock %}
